/* #1C343D - background blue; #D0A955 - LAN yellow */
#index {
    max-height: 800px;
}
body {
    margin: 0;
    background: #1C343D;
    color: white;
    width: 414px;
    margin: 0 auto;
    height: 100%;
}

.oc-logo {
    width: 120px;
    margin: 80px 155px 10px;
    /* padding-left: 46%; */
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 60px;
    letter-spacing: 6px;
    font-weight: 300;
    font-family: "Gill Sans";
}

.login {
    font-size: 22px;
    width: 280px;
    margin: 0 auto;
}

.login, p {
    margin-bottom: 0;
}

#pass {
    margin-top: 28px;
}

.whitebox {
    height: 56px;
    width: 274px;
    border: solid 1px #1C343D;
    border-radius: 5px;
    margin-bottom: 28px;
}


input, textarea {
    font-size: 16px;
}

input[type=submit] {
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 23px;
    background:#1C343D; 
    cursor:pointer;
    border: none;
    margin-left: 25%;
    letter-spacing: 2px;
    font-weight: lighter;
    padding-top: 36px;
}

@media only screen and (max-width: 600px) {
    .imagemainpage {
        padding-left: 40%;
    }
}

/* end of OC sign-up page!! */

#ochome {
    min-width: 414px;
    max-width: 600px;
}

#hotel-list {
    background: white;
    color: black;
    text-align: left;
    width: 500px;
    font-size:23px;
    letter-spacing: 2px;
    position: relative;
    top: 100px;
    width: 414px;
    margin: 0 auto;
}

#logo {
    position: fixed;
    z-index: 50;
    /* width: 440px; */
    min-width: 414px;
    max-width: 600px;
    background: #1C343D;
    display: inline-table;
    height: 16%;
    margin-top: -4%;
}

.OC {
    margin: 0 auto;
    padding: 40px 0 30px;
    font-size: 23px;
}

.OClogotoppage {
    width: 55px;
    margin-top: 35px;
}

main {
    /* padding-top: 30px; */
    padding-top: 2%;
}

/* @media only screen and (max-width: 414px) {
    #logo {

        margin-top:0;
        padding-bottom: 10px;
        padding-right: 35px;
        margin-left: 7%;

    }

    #hotel-list {
        position: relative;
        top: 130px;
    }

} */

#hotel-list table img {
    border: 1px solid black;
}

.hotel-name {
    padding: 0 0 15px 10px;
    width: 525px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
}

th {
    background: lightgray;
    padding: 5px;
    font-family: "Lucinda Sans";
    opacity: .5;
    font-size: 17px;
}

td a:visited {
    text-decoration: none;
    color: black;
}
td a:link {
    text-decoration: none;
    color: black;
}

#hotel-list td {
    border-bottom: 0.09px solid lightgray;
}

.align {
    width: 52px;
    margin-left: 20px;
}

.hotel-box:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Landing LAN page from here */

#lanhome body {
    width: 414px;
    margin: 0 auto;
}

    #facade {
        background-image: url("./images/facade@2x.png");
        background-size: 100%;
        height: 35%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #white-logo {
        padding-left: 43%;
        padding-top: 51%;
    }


.menu {
    width: 100%;
    margin: 0 auto;
    font-family: 'Trebuchet MS';
    margin-top: -3%;
    border: none;
    border-spacing: 1px 20px;
}

.menu th {
    font-family: 'Times New Roman';
    background-color: #1C343D;
    color: white;
    font-weight: 200;
    text-align: right;
    padding-right: 25px;
}

.menu #menu-icon {
    text-align: left;
    padding-left: 21px;
    cursor: pointer;
    opacity: 100%;
    /* margin-top: 20px; */
}

thead th {
    color: white;
    margin-top: 10px;
}

.menu thead p {
    cursor: pointer;
    font-family: 'Trebuchet MS';
    text-align: right;
    margin-top: 0;
    padding-top: 5px;
}

thead #insta {
    padding-left: 5px;
    cursor: pointer;
}

#hide-insta {
    opacity: 100%;
    width: 100%;
}

.menu #menu-icon2 {
    text-align: left;
    margin-bottom: -5px;
    /* padding-left: 21px; */
    cursor: pointer;
    opacity: 100%;
}

#show-profile {
    color: #d0a955;
    font-size: 23px;
    font-family: 'Gill Sans';
    font-weight: 400;
    display: none;
    margin-bottom: 10px;
    vertical-align: text-top;
    opacity: 100%;
}

#show-profile span {
    margin-right: 10px;
}

th[colspan="2"] {
    width: 200%;
    margin: 0 auto;
}

th a:visited {
    text-decoration: none;
    color: #D0A955;
}
th a:link {
    text-decoration: none;
    color: #D0A955;
}

#show-profile img {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
}

.white-squares td {
    height: 160px;
    width: 50%;
    background-color: white;
    border-collapse: separate;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans';
    padding: 10px;
}

.white-squares #yellow {
    color: #D0A955;
} 

.white-squares #blue {
    color: #1C343D;
} 

